.history {
  @include adaptiveValue('padding-top', 20, 20);
  @include adaptiveValue('padding-bottom', 10, 10);
  position: relative;
  background-color: $brown2Color;

  &__container {
    position: relative;
  }

  &__img {
    max-height: rem(995);
    height: 100%;
    max-width: rem(565);
    @include adaptiveValue('max-width', 565, 120, 1, 1920);
    @include adaptiveValue('max-height', 995, 220, 1, 1920);
    width: 100%;
    position: absolute;
    left: 0;
    top: rem(60);
    z-index: 1;
  }

  &__box {
    color: $whiteColor;
    text-align: center;
    max-width: rem(500);
    width: 100%;
    font-weight: 700;
    z-index: 1;
    position: relative;
    margin-left: auto;
    margin: rem(40) rem(230) rem(90) auto;

    @media (max-width: em(1100)) {
      margin: rem(40) rem(50) rem(60) auto;
    }

    @media (max-width: em(870)) {
      @include adaptiveValue(' max-width', 340, 240, 1, 870, 480);
    }

    @media (max-width: em(650)) {
      margin: rem(40) rem(0) rem(40) auto;
    }

    @media (max-width: $mobileSmall) {
      max-width: rem(230);
      margin-right: rem(-25);
    }
  }

  &__title {
    font-size: rem(36);
    font-family: 'PT Serif';
    margin-bottom: rem(40);
    @media (max-width: em(650)) {
      @include adaptiveValue('font-size', 24, 22);
      margin-bottom: rem(20);
    }
  }

  &__text {
    font-size: rem(20);
    max-width: rem(310);
    width: 100%;
    margin: 0 auto;
    @media (max-width: $mobileSmall) {
      @include adaptiveValue('max-width', 310, 185);
    }
  }
}

.map-history {
  padding: rem(60) rem(0) rem(60) rem(0);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('@img/history/bg.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (max-width: $mobileSmall) {
    padding-bottom: rem(30);
  }

  @media (max-width: $pc) {
    background-image: url('@img/history/bg2.svg');
    border-radius: 0 0 rem(100) rem(100);
  }

  @media (max-width: $tablet) {
    background-image: url('@img/history/bg3.svg');
  }

  @media (max-width: em(650)) {
    background-image: url('@img/history/bg4.svg');
    margin-right: rem(-10);
    margin-left: rem(-10);
  }

  @media (max-width: $mobileSmall) {
    background-image: url('@img/history/bg5.svg');
  }

  &__bg {
    position: absolute;
    top: 12%;
  }

  &__line-img {
    position: absolute;

    &--1 {
      top: 24.3%;
      left: 43.2%;

      @media (max-width: em(1100)) {
        top: 23.3%;
      }

      @media (max-width: $mobile) {
        top: 26%;
      }

      @media (max-width: em(650)) {
        transform: rotate(-30deg);
        top: 24%;
      }
    }
    &--2 {
      top: 35.8%;

      @media (max-width: em(1100)) {
        top: 35%;
      }

      @media (max-width: $mobile) {
        top: 37%;
      }

      @media (max-width: em(650)) {
        transform: rotate(30deg);
        top: 36%;
      }
    }

    &--3 {
      top: 49.6%;
      left: 46.3%;

      @media (max-width: em(1100)) {
        top: 49%;
      }

      @media (max-width: $tablet) {
        top: 48.6%;
      }

      @media (max-width: $mobile) {
        top: 50%;
      }

      @media (max-width: em(650)) {
        transform: rotate(-30deg);
      }
    }
    &--4 {
      top: 61.3%;
      left: 37.8%;

      @media (max-width: em(1100)) {
        top: 60.5%;
      }

      @media (max-width: $mobile) {
        top: 60%;
      }

      @media (max-width: em(650)) {
        transform: rotate(30deg);
      }
    }

    &--5 {
      top: 74%;
      left: 46%;

      @media (max-width: em(1100)) {
        top: 73.8%;
      }

      @media (max-width: $tablet) {
        top: 73.5%;
      }

      @media (max-width: $mobile) {
        top: 73%;
      }

      @media (max-width: em(650)) {
        transform: rotate(-30deg);
      }
    }

    &--6 {
      top: 85%;
      left: 41%;

      @media (max-width: $mobile) {
        top: 84%;
      }

      @media (max-width: em(650)) {
        transform: rotate(30deg);
      }
    }

    @media (max-width: em(650)) {
      left: 35%;
    }

    @media (max-width: $mobileSmall) {
      display: none;
    }
  }

  &__wrapper {
    &:not(:last-child) {
      margin-bottom: rem(60);
    }

    @media (max-width: em(650)) {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  &__item {
    display: flex;
    max-width: rem(677);
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: rem(70);
    margin-right: rem(100);

    @media (max-width: $tablet) {
      margin-right: rem(0);
    }

    &--md {
      margin-left: rem(200);
      @media (max-width: $tablet) {
        margin-left: rem(0);
      }
    }

    @media (max-width: $mobile) {
      gap: rem(20);
    }

    @media (max-width: $mobileSmall) {
      flex-direction: column-reverse;
      gap: rem(10);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(257);
    width: 100%;
    z-index: 1;

    @media (max-width: $mobileSmall) {
      max-width: 100%;
      padding: rem(0) rem(20) rem(0) rem(20);
    }
  }

  &__date {
    z-index: 1;
    position: relative;
    font-size: rem(40);
    font-family: 'Fira Sans';
    font-weight: 700;
    border-radius: 20px 0px;
    background-color: $mainColor;
    color: $whiteColor;
    padding: rem(8) rem(50) rem(8) rem(50);
    margin-bottom: rem(40);
    transition: all 0.3s;

    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 rem(8) $mainColor;
      color: $blackColor;
    }

    @media (max-width: em(650)) {
      margin: 0 auto;
      display: block;
      width: fit-content;
      margin-bottom: rem(30);
    }

    @media (max-width: $mobileSmall) {
      margin-bottom: rem(20);
    }
  }

  &__text {
    @media (max-width: em(650)) {
      max-width: rem(180);
      width: 100%;
    }

    @media (max-width: $mobileSmall) {
      max-width: 100%;
      text-align: center;
    }

    &--order {
      @media (max-width: $mobileSmall) {
        order: 2;
      }
    }
  }

  &__img {
    flex-shrink: 0;
    max-width: rem(350);
    width: 100%;
    background-color: $mainColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: $mobile) {
      @include adaptiveValue(' max-width', 350, 200);
    }

    @media (max-width: $mobileSmall) {
      order: 1;
    }

    &--black {
      background-color: $blackColor;
    }

    &--red {
      background-color: $redColor;
    }

    &--blue {
      background-color: $blueColor;
    }

    img {
      border-radius: 50%;
      padding: rem(35);
      @media (max-width: $mobile) {
        @include adaptiveValue('padding', 35, 10);
      }
    }
  }

  &__date--blue {
    background-color: $blueColor;
    &:hover {
      box-shadow: inset 0 0 0 rem(8) $blueColor;
    }
  }

  &__date--red {
    background-color: $redColor;

    &:hover {
      box-shadow: inset 0 0 0 rem(8) $redColor;
    }
  }

  &__date--orange {
    background-color: $orange1Color;

    &:hover {
      box-shadow: inset 0 0 0 rem(8) $orangeColor;
    }
  }
}
.white-star-img,
.brown-star-img {
  position: absolute;
}
.white-star-img {
  @media (max-width: em(650)) {
    display: none;
  }

  &--1 {
    right: 1.4%;
    top: 1.7%;
  }

  &--2 {
    right: 22.5%;
    top: 10.2%;
    @media (max-width: em(870)) {
      right: 60%;
    }
  }
}

.brown-star-img {
  @media (max-width: $mobileSmall) {
    display: none;
  }

  &--1 {
    top: 26.3%;
    right: 16%;
    @media (max-width: $mobile) {
      top: 28%;
    }
  }

  &--2 {
    top: 41%;
    left: 16%;
    @media (max-width: $pc) {
      top: 38%;
    }

    @media (max-width: $mobile) {
      top: 40%;
    }
  }
  &--3 {
    top: 57.4%;
    right: 16%;
    @media (max-width: $pc) {
      top: 59%;
    }

    @media (max-width: $mobile) {
      top: 62%;
    }
  }

  &--4 {
    top: 65%;
    left: 16%;
    @media (max-width: $pc) {
      top: 63.5%;
    }
  }
  &--5 {
    top: 77%;
    right: 16%;
    @media (max-width: $pc) {
      top: 75%;
    }
  }

  &--6 {
    top: 91.5%;
    left: 16%;
    @media (max-width: $pc) {
      top: 88%;
    }
  }
}
