.feel {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  @include adaptiveValue('padding-top', 0, 0);
  @include adaptiveValue('padding-bottom', 0, 0);
  @media (max-width: $tablet) {
    &::before {
      content: '';
      background-color: $mainColor;
      opacity: 0.6;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  &__container {
    padding: rem(20) rem(15) rem(70) rem(15);
    z-index: 2;
    position: relative;
  }

  &__content {
    padding: rem(60) rem(0) rem(0) rem(0);
    max-width: rem(450);
    width: 100%;
    margin-left: auto;
  }

  &__title {
    text-align: center;
    margin-bottom: rem(20);
    @include adaptiveValue('font-size', 60, 32);
  }

  &__text {
    font-weight: 700;
    font-size: rem(20);
    line-height: math.div(24, 20);
    text-align: center;
    color: #ffffff;
  }
}

//===================================================================
.assortment {
  @include adaptiveValue('padding-top', $big-padding, $small-padding);

  &__title {
    margin-bottom: rem(40);
    @media (max-width: $mobile) {
      margin-bottom: rem(30);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(285), 1fr));
    gap: rem(20);

    @media (max-width: em(650)) {
      grid-template-columns: repeat(auto-fill, minmax(rem(230), 1fr));

      margin-right: rem(-10);
      margin-left: rem(-10);
    }
  }

  &__more-btn {
    margin: 0 auto;
    display: block;
    margin-top: rem(40);
    position: relative;
    transition: all 0.3s;
    width: rem(260);
  }
}

//===================================================================
.our-history {
  @include adaptiveValue('padding-bottom', $big-padding, $small-padding);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);

    @media (max-width: $mobile) {
      justify-content: center;
      gap: rem(0);
      padding: 0;
    }
  }

  &__image {
    @media (max-width: $mobile) {
      min-width: 100%;
    }
  }

  &__img {
    max-width: rem(760);
    width: 100%;
    object-fit: cover;

    @media (max-width: $pc) {
      margin-left: rem(-15);
    }

    @media (max-width: $mobile) {
      margin-left: 0;
    }
  }

  &__content {
    max-width: rem(250);
    width: 100%;
    text-align: center;
    margin-right: rem(50);

    @media (max-width: em(1100)) {
      margin-right: 0;
    }
  }

  &__title,
  &__text {
    margin-bottom: rem(40);

    @media (max-width: $mobile) {
      margin-bottom: rem(30);
      padding: rem(0) rem(15) rem(0) rem(15);
    }
  }

  &__link {
    @media (max-width: $mobile) {
      display: block;
      width: rem(260);
      text-align: center;
      margin: 0 auto;
      margin-top: rem(30);
    }
  }
}

//===================================================================
//===================================================================
//===================================================================
//===================================================================
//===================================================================
//===================================================================
//===================================================================
//===================================================================
//===================================================================
