// <SELECT>
// Сніппет (HTML): sel
.select {
  min-width: 0;
  position: relative;
  margin-bottom: rem(40);
  font-size: rem(14);
  // .select__body

  &__body {
    position: relative;
  }
  // .select__title
  &__title {
    color: var(--blackColor);
    text-align: left;
    border: 1px solid rgb(11, 10, 10, 0.6);

    cursor: pointer;
    width: 100%;
    border-radius: rem(10);
    padding: rem(15) rem(17) rem(15) rem(17);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after {
      content: '';
      transition: transform 0.3s;
      background-image: url('@img/select-vector.svg');
      transform: rotate(180deg);
      width: rem(14);
      height: rem(8);
    }
    ._select-open & {
      &::after {
        transform: rotate(0);
      }
    }
  }

  // .select__options
  &__options {
    border: 1px solid var(--blackColor);
    border-radius: rem(10);
    margin-top: rem(-1);
  }
  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // Максимальна висота
    max-height: rem(200);
    // Стилі скроллбару
    .simplebar-scrollbar {
      &::before {
        //opacity: 1;
      }
    }
  }
  // .select__option
  &__option {
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 3px 15px;
    color: var(--blackColor);
    border-radius: rem(10);
    &:not(:last-child) {
      margin-bottom: rem(5);
    }

    @media (any-hover: hover) {
      &:hover {
        background: var(--blueColor);
        color: var(--whiteColor);
      }
    }
  }
}

// Тег
._select-tag {
  cursor: pointer;
}
