@font-face {
	font-family: 'Bookman Old Style';
	font-display: swap;
	src: url("../fonts/bookmanoldstyle-bolditalic.woff2") format("woff2"), url("../fonts/bookmanoldstyle-bolditalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
}