// Заголовки, загальні БЕМ блоки та інше...
.logo {
	transition: transform 0.3s;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.055);
		}
	}
}

.title-big {
	font-family: 'Bookman Old Style';
	font-size: rem(60);
	color: $whiteColor;
	text-shadow: 2px 2px 2px #210082;
	transition: transform 0.3s;

	&:hover {
		transform: scale(1.04);
	}

	span {
		transition: color 0.3s;
		color: $yellowColor;
	}

	&:hover {
		span {
			color: $redColor;
		}

		filter: drop-shadow(8px 7px 5px rgba(33, 0, 130, 0.25));
	}
}

.btn {
	padding: rem(19) rem(56);
	gap: rem(10);
	border-radius: rem(20) 0;
	display: inline-block;
	font-weight: 700;
	font-size: rem(18);
	line-height: math.div(22, 18);
}